{%extends "layout.html"%}

{% block content %}

<div class="album">
<h1> Albumes Clientes</h1>

</div>

<div class="card 1" style="width: 18rem;">
    <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t1.6435-9/120996903_10216958171378610_6374979050422654093_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=0debeb&_nc_ohc=nfwCuSu1YGIAX-weclJ&_nc_oc=AQmDal9e9B-RysWyFUwhb1icy2LicgzsOWlJFRndQF1fj289HgcB4Tt1jnvOa6ezFcw&_nc_ht=scontent.fuio1-2.fna&oh=d982ae975575058951fb06b9e208fc67&oe=6159C886" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Quimica Ariston</h5>
      <p class="card-text">Fotos del trabajo dentro de la Quimica Ariston</p>
      <a href="https://www.facebook.com/media/set/?set=a.10216958223339909&type=3" class="btn btn-primary">Ir a Galeria</a>
    </div>
  </div>

  <div class="card 2" style="width: 18rem;">
    <img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.6435-9/124679423_10217158442985275_5073851967494143843_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=0debeb&_nc_ohc=1cpKZKLHC2cAX-cBsgf&tn=VbwUtJUNoJgZvNrT&_nc_ht=scontent.fuio1-1.fna&oh=6dc3461d6d44f9a04a715584792d2e17&oe=61576247" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cruz Roja Santa Elena</h5>
      <p class="card-text">Fotos del trabajo de la Cruz Roja en Santa Elena </p>
      <a href="https://www.facebook.com/media/set/?set=a.10217158466785870&type=3" class="btn btn-primary">Ir a Galeria</a>
    </div>
  </div>

  <div class="card 3" style="width: 18rem;">
    <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t1.18169-9/419257_3444640766863_507533055_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=18bMAo0ueb4AX-Z5gnP&_nc_ht=scontent.fuio1-2.fna&oh=496657f61a5f02cc6f6ad864a50b7bae&oe=61580E22" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cruz Roja Napo</h5>
      <p class="card-text">Fotos del trabajo de la Cruz Roja en Napo</p>
      <a href="https://www.facebook.com/media/set/?set=a.3444634366703&type=3" class="btn btn-primary">Ir a Galeria</a>
    </div>
  </div>


  <section>
      
  </section>

{% endblock %}